[submodule "node_backend"]
	path = node_backend
	url = https://github.com/BW-Saltiest-Hacker-News-Trolls/node_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/BW-Saltiest-Hacker-News-Trolls/frontend.git
